@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: gray;



}


h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.body {
    background: #5d6362;
    font-size: 14px;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: gray;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 1;
}


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    opacity: 5;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: burlywood;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;

}


.content {
    width: 30%;
    position: absolute;
    top: 20%;
    left: 35%;
    text-align: center
}

.content h1 {
    color: black;
    font-size: 40px;
    margin-bottom: 20px;

}

.content p {
    color: rgb(41, 37, 41);
    line-height: 30px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;




}

.content a {
    text-decoration: none;
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px 30px;
    border-radius: 30px;
    transition: 0.5s;
    margin-top: 20px;

}

.content a:hover {
    color: rgb(132, 134, 214);
    transition: 0.5s;
    background-color: rgb(128, 83, 83);
}

.content .a:hover::after {
    background-color: red;
    content: after;
}

.gallery-box {
    border-radius: 30%;
    width: 8rem;
    height: 12rem;
    overflow: hidden;
    margin: 0 auto;

}

.gallery-box img {

    height: 100%;
    object-fit: fill;
}